
0-initialsetup/.idea/

0-initialsetup/.venv/Lib/site-packages/Click-7.0.dist-info/

0-initialsetup/.venv/Lib/site-packages/click/__pycache__/

0-initialsetup/.venv/Lib/site-packages/click/

0-initialsetup/.venv/Lib/site-packages/

0-initialsetup/.venv/
